body {
	/* background: #e2e8f0; */
	background-image: url(/src/components/img/wallpaper.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover; 
}

.navbar{
  /* background-color: rgb(179, 179, 179); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 60px;
}


.mainapp{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  color: white;
  font-size: 60px;


}

.mainapp .textmain{
  display: inline-block;
  
  animation: pulse; 
  animation-duration: 2s; 
  animation-iteration-count: infinite;
}


.mainapp p {
  font-size: 20px;
  text-align: center;
}